Audio/*
Graphics/*
Fonts/*
PBS/*
*.exe
Game.ini
intl.dat
updater.exe
mkxp.json
Readme.txt
version
zlib1.dll
rebornmap.png
*.lnk
*.rxdata
*.dat
*.zip
x64-msvcrt-ruby300.dll
rubyscreen.dll
Data/*
!Data/Mods
!Data/Mods/*
Data/Mods/AMB*
Data/Mods/SWM*
Data/Mods/PB*
Data/Mods/PBMoves.rb
Data/Mods/*.dat
Data/Mods/*.ini
!Data/!script_order.csv
Scripts/*
!Scripts/idk.rb
!Scripts/LMP*

ModLoaderSource/ModLoader/bin/*
ModLoaderSource/ModLoader/obj/*
ModLoaderSource/.vs/*
*.pfx
