Audio/*
node_modules/*
Graphics/*
Fonts/*
PBS/*
.vscode/*
*.exe
Game.ini
intl.dat
updater.exe
mkxp.json
Readme.txt
version
zlib1.dll
*.rxproj
rebornmap.png
*.lnk
DataBackup/*
build.bat
Data/*.rxdata
RGSS104E.dll
*.dat
*.zip
x64-msvcrt-ruby300.dll
rubyscreen.dll
Data/*
!Data/Mods
!Data/Mods/*
Data/Mods/AMB*
Data/Mods/SWM*
Data/Mods/PB*
Data/Mods/PBMoves.rb
Data/Mods/PBItems.rb
Data/Mods/PBAbilities.rb
Data/Mods/PBSpecies.rb

Data/Mods/*.dat
Data/Mods/*.ini
!Data/!script_order.csv
Scripts/*
!Scripts/idk.rb
!Scripts/PokeBattle_Battle.rb
!Scripts/PokeBattle_Battler.rb
!Scripts/LMP*
Data/Mods/Modloader/*.rxdata
Data/Mods/Modloader/*.dat
*.snk
*.pfx
*.user
ModManagerSource/.vs/*
ModManagerSource/ModManager/obj/*
ModManagerSource/ModManager/bin/*
Newtonsoft.Json.xml
Newtonsoft.Json.dll
ModManager.exe.config
ModManager.exe
test.rb

Data/Mods/Modloader/Maps/MapInfos.rxdata

Data/Mods/Modloader/Maps/Map00038.rxdata

Data/Mods/Modloader/Maps/Map01903.rxdata

Data/Mods/Modloader/Maps/Map02903.rxdata
